<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </div>

    <div class="container marketing">
        <h1 class="text-center fw-normal">Animals</h1>
        <h4 class="text-center fw-normal">Животные</h4>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Cat [kæt] <span class="text-muted">Кот</span></h2>
                <p class="lead">Кот стащил и съел омлет.</p>
                <p class="lead">Ох воришка, этот cat.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-cat-animal-justicon-flat-justicon-1.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Dog [dɒɡ] <span class="text-muted">Собака</span></h2>
                <p class="lead">Мой пудель вовсе не щенок,</p>
                <p class="lead">А взрослая собака — dog.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-dog-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Bird [bɜːd] <span class="text-muted">Птица</span></h2>
                <p class="lead">Каждый из ребят поймёт:</p>
                <p class="lead">Птица — по-английски bird.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-bird-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Rabbit [ˈræb.ɪt] <span class="text-muted">Кролик</span></h2>
                <p class="lead">Дед траву граблями грабит</p>
                <p class="lead">Хочет есть наш кролик rabbit.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-rabbit-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Fox [fɒks] <span class="text-muted">Лиса</span></h2>
                <p class="lead">Хитрый взгляд и рыжий хвост.</p>
                <p class="lead">Это кто? Лисица fox.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-fox-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Monkey [ˈmʌŋ.ki] <span class="text-muted">Обезьяна</span></h2>
                <p class="lead">Очень любит манку</p>
                <p class="lead">Обезьянка — monkey.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-monkey-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Pig [pɪɡ] <span class="text-muted">Свинья</span></h2>
                <p class="lead">Она есть хочет каждый миг,</p>
                <p class="lead">Спать в лужах любит эта — pig.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-pig-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Elephant [ˈel.ɪ.fənt] <span class="text-muted">Слон</span></h2>
                <p class="lead">В цирке он большой талант,</p>
                <p class="lead">Слон могучий — elephant.</p>

            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-elephant-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Lion [ˈlaɪ.ən] <span class="text-muted">Лев</span></h2>
                <p class="lead">Грозный лев, пусть каждый знает,</p>
                <p class="lead">По-английски будет — lion.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/external-justicon-flat-justicon/256/external-lion-animal-justicon-flat-justicon.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>


        <a href="/test3" class="btn btn-dark my-2">Пройти тест</a>
        <hr class="featurette-divider">


    </div>
</head>
</html>