<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </div>

    <div class="container marketing">
        <h1 class="text-center fw-normal">Colors</h1>
        <h4 class="text-center fw-normal">Цвета</h4>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Red [red] <span class="text-muted">Красный</span></h2>
                <p class="lead">Загорелся красный свет,</p>
                <p class="lead">Стой на месте - это red!</p>
            </div>
            <div class="col-md-5">
                <img src="https://piastrella.shop/upload/iblock/ee1/ee10d3a8b10ed69b047a3ecd44794c92.jpg"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Orange [ˈɒrɪndʒ] <span class="text-muted">Оранжевый</span>
                </h2>
                <p class="lead">Нарисует рыжий сторож</p>
                <p class="lead">Апельсины цвета orange.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://keramoda.ru/upload/resize_cache/webp/iblock/a3b/a3b73e40b0a6a5f94c1fd638b9a94e44.webp"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Yellow [ˈjeləʊ] <span class="text-muted">Жёлтый</span>
                </h2>
                <p class="lead">Нарисую жёлтым мелом</p>
                <p class="lead">Солнце - это будет yellow!</p>
            </div>
            <div class="col-md-5">
                <img src="https://keramoda.ru/upload/iblock/120/12032c57d50748b1aebe511f9a83ea7e.jpg"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Green [ɡriːn] <span class="text-muted">Зелёный</span></h2>
                <p class="lead">Вот зелёный пластилин,</p>
                <p class="lead">Как зелёнка, - это green.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://keramoda.ru/upload/resize_cache/webp/iblock/a99/a99560b2d5068a6284e2a4265ad388c8.webp"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Blue [bluː] <span class="text-muted">Голубой</span></h2>
                <p class="lead">Море синее люблю,</p>
                <p class="lead">Ну а море цвета blue!</p>
            </div>
            <div class="col-md-5">
                <img src="https://keramoda.ru/upload/resize_cache/webp/iblock/41c/41ccb605dce30bf9628853eb4adf6348.webp"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">White [waɪt] <span class="text-muted">Белый</span></h2>
                <p class="lead">Белый снег лёг на асфальт,</p>
                <p class="lead">И асфальт стал белым - white.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://keramoda.ru/upload/resize_cache/webp/iblock/d2d/d2d5607b925dd829e4c6289428292884.webp"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Black [blæk] <span class="text-muted">Чёрный</span></h2>
                <p class="lead">Не купалась целый век</p>
                <p class="lead">Чёрная ворона black.</p>
            </div>
            <div class="col-md-5">
                <img src="https://keramoda.ru/upload/resize_cache/webp/iblock/d60/d60a2de87b922e3e1d59a259dae3ca7e.webp"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Pink [pɪŋk] <span class="text-muted">Розовый</span></h2>
                <p class="lead">Толстый свин танцует свинг,</p>
                <p class="lead">Розовый, конечно, pink.</p>

            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://cdn2.static1-sima-land.com/items/6362109/2/700-nw.jpg"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Gray [ ɡreɪ ] <span class="text-muted">Серый</span></h2>
                <p class="lead">Мышка серая быстрей</p>
                <p class="lead">Убегай от кошки grey!</p>
            </div>
            <div class="col-md-5">
                <img src="https://keramoda.ru/upload/resize_cache/webp/iblock/42d/42de7aef7c3cb27787f16e6dbc527b88.webp"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>


        <a href="/test2" class="btn btn-dark my-2">Пройти тест</a>
        <hr class="featurette-divider">


    </div>
</head>
</html>