<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </div>

    <div class="container marketing">
        <h1 class="text-center fw-normal">Drinks</h1>
        <h4 class="text-center fw-normal">Напитки</h4>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Coffee ['kɔfɪ] <span class="text-muted">Кофе</span></h2>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/coffee--v1.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Tea [tiː] <span class="text-muted">Чай</span></h2>
                <p class="lead">Чашкой чая угости,</p>
                <p class="lead">чай мы называем tea.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/green-tea.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Milk [mɪlk] <span class="text-muted">Молоко</span></h2>
                <p class="lead">Молоко я пить привык</p>
                <p class="lead">Молоко иначе …milk.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/milk-bottle.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Water [ˈwɔːtə(r)] <span class="text-muted">Вода</span></h2>
                <p class="lead">Ведро воды вы принесете?</p>
                <p class="lead">Вода, водичка будет … water.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/fluency/256/bottle-of-water.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Cola [ˈkəʊlə] <span class="text-muted">Кола</span></h2>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/cola.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Juice [dʒuːs] <span class="text-muted">Сок</span></h2>
                <p class="lead">Ах, как приятен сок на вкус,</p>
                <p class="lead">А сок мы называем juice.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/carton-of-orange-juice.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Cocoa [ˈkəʊ.kəʊ] <span class="text-muted">Какао</span></h2>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/cafe--v1.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Milkshake [ˈmɪlk.ʃeɪk] <span class="text-muted">Молочный коктейль</span></h2>

            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/milkshake--v1.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Lemonade [ˌlɛməˈneɪd] <span class="text-muted">Лимонад</span></h2>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/lemonade.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>


        <a href="/test6" class="btn btn-dark my-2">Пройти тест</a>
        <hr class="featurette-divider">


    </div>
</head>
</html>