<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </div>

    <div class="container marketing">
        <h1 class="text-center fw-normal">Family</h1>
        <h4 class="text-center fw-normal">Семья</h4>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Kin [kɪn] <span class="text-muted">Родственники</span>
                </h2>
                <p class="lead">А по-английски, например,</p>
                <p class="lead">Родню назвали … kin.</p>
            </div>
            <div class="col-md-5">
                <img src="https://bronnitsy.ru/www/images/filippova/2Neva19525ouz133216.png"
                     width="310" height="310"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Mother [ˈmʌðə] <span class="text-muted">Мама</span></h2>
                <p class="lead">Mother, мама, верьте мне</p>
                <p class="lead">Лучше всех на свете.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://static.tildacdn.com/tild3832-3136-4638-a165-373166313039/Find_your_Financing_.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Father [ˈfɑːðə] <span class="text-muted">Папа</span></h2>
                <p class="lead">Если что-то сделать надо,</p>
                <p class="lead">Обращаюсь к папе, father.</p>
            </div>
            <div class="col-md-5">
                <img src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614579955_18-p-papa-na-belom-fone-22.jpg"
                     width="350" height="350"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Daughter [ˈdɔːtə] <span class="text-muted">Дочь</span>
                </h2>
                <p class="lead">Кто косички заплетает?</p>
                <p class="lead">Daughter, дочка дорогая.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://sun9-82.userapi.com/impg/vTVSmelgvsMazNsUj5qC9H43TRUtGQkYCXsrSQ/Hs22IgZEz_I.jpg?size=1280x972&quality=96&sign=d9a292667dde593a83cfb3aae06b609a&c_uniq_tag=nJvT8eWEYhY6oldwZuv49dcjspG38XeAq4CI0Cre0c4&type=album"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Son [sʌn] <span class="text-muted">Сын</span></h2>
                <p class="lead">Мой сынок испортил кран.</p>
                <p class="lead">Сын, сынишка значит … son</p>
            </div>
            <div class="col-md-5">
                <img src="https://www.pngmart.com/files/16/Vector-Happy-Mother-With-Baby-PNG-Photos.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Grandmother [ˈɡrænˌmʌðə] <span
                        class="text-muted">Бабушка</span></h2>
                <p class="lead">Наша бабушка, grandmother.</p>
                <p class="lead">Вкусный варит нам обед.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://papik.pro/uploads/posts/2021-12/1639232286_22-papik-pro-p-babushka-klipart-23.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Grandfather [ˈɡrænfɑːðə] <span
                        class="text-muted">Дедушка</span></h2>
                <p class="lead">Ну а дедушка, grandfather,</p>
                <p class="lead">Самый добрый в мире дед.</p>
            </div>
            <div class="col-md-5">
                <img src="https://papik.pro/uploads/posts/2022-01/1641156513_30-papik-pro-p-detskii-risunok-muzhika-30.jpg"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Sister [ˈsɪstə ] <span class="text-muted">Сестра</span>
                </h2>
                <p class="lead">Она мечтает быть артисткой</p>
                <p class="lead">Моя сестренка – моя … sister.</p>

            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://gas-kvas.com/uploads/posts/2023-02/1676411661_gas-kvas-com-p-detskii-risunok-sestra-42.png"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Brother [ˈbrʌðə ] <span class="text-muted">Брат</span>
                </h2>
                <p class="lead">Со щенком гулять по саду</p>
                <p class="lead">Ходит старший брат мой, brother.</p>
            </div>
            <div class="col-md-5">
                <img src="https://thumbs.dreamstime.com/b/%D0%B4%D1%80%D1%83%D0%B6%D0%B5%D0%BB%D1%8E%D0%B1%D0%BD%D1%8B%D0%B9-%D0%BC%D0%B0%D0%BB%D1%8C%D1%87%D0%B8%D0%BA-%D1%83%D1%82%D0%B5%D1%88%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9-%D0%B5%D0%B3%D0%BE-%D0%BF%D0%BB%D0%B0%D1%87-%D0%B8%D0%BB%D0%BB%D1%8E%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8E-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%B0-%D0%B4%D1%80%D1%83%D0%B3%D0%B0-176541921.jpg"
                     width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>


        <a href="/test1" class="btn btn-dark my-2">Пройти тест</a>
        <hr class="featurette-divider">


    </div>
</head>
</html>