<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </div>

    <div class="container marketing">
        <h1 class="text-center fw-normal">Fruits and Vegetables</h1>
        <h4 class="text-center fw-normal">Фрукты и Овощи</h4>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Banana <span class="text-muted">Банан</span></h2>
                <p class="lead">В джунглях всяка обезьяна</p>
                <p class="lead">Обожает есть banana.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/banana.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Apple <span class="text-muted">Яблоко</span></h2>
                <p class="lead">Apple — яблочко большое,</p>
                <p class="lead">Сочное и наливное.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/arcade/256/apple.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Plam <span class="text-muted">Слива</span></h2>
                <p class="lead">Слива тут и слива там —</p>
                <p class="lead">Слива по-английски — plum.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/plum.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Peach <span class="text-muted">Персик</span></h2>
                <p class="lead">Друг Лило, весёлый Стич,</p>
                <p class="lead">Обожает персик — peach.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/peach.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Pear <span class="text-muted">Груша</span></h2>
                <p class="lead">К сентябрю в саду поспела</p>
                <p class="lead">Груша, по-английски, pear.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/pear.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Cucumber <span class="text-muted">Огурец</span></h2>
                <p class="lead">Полезен cucumber зелёный,</p>
                <p class="lead">Хочешь свежий, хочешь солёный.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/cucumber.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Tomato <span class="text-muted">Помидор</span></h2>
                <p class="lead">Tomato — овощ классный,</p>
                <p class="lead">Полезный, вкусный, красный.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/tomato.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Potato <span class="text-muted">Картошка</span></h2>
                <p class="lead">Potato — вкусная картошка,</p>
                <p class="lead">Любит есть её Антошка.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/arcade/256/potato.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Orange <span class="text-muted">Апельсин</span></h2>
                <p class="lead">Не сравнить обычный овощ,</p>
                <p class="lead">С сочным апельсином, orange.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/arcade/256/orange.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>


        <a href="/test1" class="btn btn-dark my-2">Пройти тест</a>
        <hr class="featurette-divider">


    </div>
</head>
</html>