<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </div>

    <div class="container marketing">
        <h1 class="text-center fw-normal">Numbers</h1>
        <h4 class="text-center fw-normal">Цифры</h4>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">One [wʌn] <span class="text-muted">Один</span></h2>
                <p class="lead">Слон уселся на диван,</p>
                <p class="lead">Единица - это one.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/1-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Two [tu] <span class="text-muted">Два</span></h2>
                <p class="lead">Поезд нам сказал: ту- ту!</p>
                <p class="lead">Два сигнала - это two.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/2-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Three [θri] <span class="text-muted">Три</span></h2>
                <p class="lead">А три киски, посмотри,</p>
                <p class="lead">Три сосиски съели - three.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/3-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Four [fɔr] <span class="text-muted">Четыре</span></h2>
                <p class="lead">Ворон сел на светофор</p>
                <p class="lead">И сказал: «Четыр-ре - four.»</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/4-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Five [faɪv] <span class="text-muted">Пять</span></h2>
                <p class="lead">Поросята пляшут джайв,</p>
                <p class="lead">Пять подскоков - это five.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/5-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Six [sɪks] <span class="text-muted">Шесть</span></h2>
                <p class="lead">Мыши варят сырный микс</p>
                <p class="lead">Из шести кусочков - six.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/6-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Seven [ˈsɛvən] <span class="text-muted">Семь</span></h2>
                <p class="lead">Кролик занялся посевом -</p>
                <p class="lead">Семь конфет посеял - seven.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/7-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading fw-normal lh-1">Eight [eɪt] <span class="text-muted">Восемь</span></h2>
                <p class="lead">Бегемот залез на скейт,</p>
                <p class="lead">Восемь раз свалился - eight.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://img.icons8.com/color/256/8-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading fw-normal lh-1">Nine [naɪn] <span class="text-muted">Девять</span></h2>
                <p class="lead">Ну-ка, волк, запоминай,</p>
                <p class="lead">По-английски девять - nine.</p>
            </div>
            <div class="col-md-5">
                <img src="https://img.icons8.com/color/256/9-cute.png" width="330" height="330"
                     class="img-fluid" alt="Sample image">

            </div>
        </div>


        <a href="/test1" class="btn btn-dark my-2">Пройти тест</a>
        <hr class="featurette-divider">


    </div>
</head>
</html>