<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    </head>

    <div class="card-body p-md-5">
        <div class="row justify-content-center">
            <div>
                <h1 class="display-1 fw-light text-center">Добро пожаловать!</h1>
            </div>
        </div>
    </div>

    <div class="card-body p-md-5">
        <div class="row">
            <div>
                <h1 class="display-2 fw-light">Ваше имя:</h1>
                <h1 class="display-2 fw-light">Ваша почта:</h1>
                <h1 class="display-2 fw-light">Результаты уроков:</h1>
                <h1 class="display-4 fw-light">Fruits and Vegetables:</h1>
                <h1 class="display-4 fw-light">Colors:</h1>
                <h1 class="display-4 fw-light">Animals:</h1>
                <h1 class="display-4 fw-light">Numbers:</h1>
                <h1 class="display-4 fw-light">Family:</h1>
                <h1 class="display-4 fw-light">Drinks:</h1>
            </div>
        </div>
    </div>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p>
                    <button type="submit" class="btn btn-dark my-2 btn-lg">Выйти из аккаунта</button>
                    <button type="submit" class="btn btn-dark my-2 btn-lg">Вернуться на главную</button>
                </p>
            </div>
        </div>
    </section>
</html>