<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"

    </div>
</head>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                 width="60" height="60" alt="">
            <strong>illastra</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


{% block content %}
<div class="card-body p-md-5">
    <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

            <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Начни сейчас!</p>
            <p class="text-center h6 mb-5 mx-1 mx-md-4 mt-4">{{message}}</p>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}<br>
                    {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(class="form-control", type="email") }}<br>
                    {% for error in form.email.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <p>
                    {{ form.password_again.label }}<br>
                    {{ form.password_again(class="form-control", type="password") }}<br>
                    {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
                </p>
                <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <p>{{ form.submit(type="submit", class="btn btn-outline-secondary") }}</p>
                </div>
            </form>

            {% endblock %}
