<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>illastra</title>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
                <a href="/account" class="btn btn-dark my-2">Профиль</a>
        </div>
    </div>
    </div>
        <div id="ClozeDiv">
            <form id="Cloze" method="post" action="/test2">
                <div class="ClozeBody">
                    <table border="0" cellpadding="2" cellspacing="2" width="610" text-align:center=""></table>
                    <table border="0" cellpadding="5" cellspacing="5&quot;" width="610"
                           style="margin-left:auto;margin-right:auto;text-align:center;">
                        <tbody>
                        <tr>
                            <td><img src="https://keramoda.ru/upload/resize_cache/webp/iblock/d2d/d2d5607b925dd829e4c6289428292884.webp" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://keramoda.ru/upload/iblock/120/12032c57d50748b1aebe511f9a83ea7e.jpg" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://cdn2.static1-sima-land.com/items/6362109/2/700-nw.jpg" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select0"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select1"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select2"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="https://keramoda.ru/upload/resize_cache/webp/iblock/d60/d60a2de87b922e3e1d59a259dae3ca7e.webp" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://piastrella.shop/upload/iblock/ee1/ee10d3a8b10ed69b047a3ecd44794c92.jpg" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://keramoda.ru/upload/resize_cache/webp/iblock/a99/a99560b2d5068a6284e2a4265ad388c8.webp" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select3"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select4"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select5"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="https://keramoda.ru/upload/resize_cache/webp/iblock/41c/41ccb605dce30bf9628853eb4adf6348.webp" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://keramoda.ru/upload/resize_cache/webp/iblock/a3b/a3b73e40b0a6a5f94c1fd638b9a94e44.webp" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://keramoda.ru/upload/resize_cache/webp/iblock/42d/42de7aef7c3cb27787f16e6dbc527b88.webp" width="330" height="330"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select6"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select7"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select8"><option value=""></option><option
                                    value="blue">blue</option><option
                                    value="black">black</option><option
                                    value="green">green</option><option
                                    value="pink">pink</option><option
                                    value="grey">grey</option><option
                                    value="red">red</option><option
                                    value="orange">orange</option><option
                                    value="yellow">yellow</option><option
                                    value="white">white</option></select>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p>
                        <button type="submit" class="btn btn-dark my-2">Проверить</button>
                    </p>
                </div>
            </div>
        </section>
            </form>
        </div>
    </div>
</head>
</html>
