<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>illustra</title>
    <div id="MainDiv" class="StdDiv">

        <div id="ClozeDiv">
            <form id="Cloze" method="post" action="" onsubmit="return false;">
                <div class="ClozeBody">
                    <table border="0" cellpadding="2" cellspacing="2" width="610" text-align:center=""></table>
                    <table border="0" cellpadding="5" cellspacing="5&quot;" width="610"
                           style="margin-left:auto;margin-right:auto;text-align:center;">
                        <tbody>
                        <tr>
                            <td><img src="https://img.icons8.com/color/256/banana.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/arcade/256/apple.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/plum.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="GapSpan" id="GapSpan0"><select id="Gap0"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan1"><select id="Gap1"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan2"><select id="Gap2"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="https://img.icons8.com/color/256/peach.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/pear.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/cucumber.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="GapSpan" id="GapSpan3"><select id="Gap3"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan4"><select id="Gap4"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan5"><select id="Gap5"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="https://img.icons8.com/color/256/tomato.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/arcade/256/potato.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/arcade/256/orange.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="GapSpan" id="GapSpan6"><select id="Gap6"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan7"><select id="Gap7"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan8"><select id="Gap8"><option value=""></option><option
                                    value="clean teeth">pear</option><option
                                    value="do homework">cucumber</option><option
                                    value="get dressed">banana</option><option
                                    value="get up">tomato</option><option
                                    value="go to bed">plum</option><option
                                    value="go to school">peach</option><option
                                    value="have breakfast">orange</option><option
                                    value="take a shower">apple</option><option
                                    value="wash up">potato</option></select></span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p>
                        <a href="/register" class="btn btn-dark my-2">Проверить</a>
                    </p>
                </div>
            </div>
        </section>


</head>
<body>