<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>illastra</title>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
                <a href="/account" class="btn btn-dark my-2">Профиль</a>
        </div>
    </div>
    </div>
        <div id="ClozeDiv">
            <form id="Cloze" method="post" action="/test6">
                <div class="ClozeBody">
                    <table border="0" cellpadding="2" cellspacing="2" width="610" text-align:center=""></table>
                    <table border="0" cellpadding="5" cellspacing="5&quot;" width="610"
                           style="margin-left:auto;margin-right:auto;text-align:center;">
                        <tbody>
                        <tr>
                            <td><img
                                    src="https://img.icons8.com/fluency/256/bottle-of-water.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://img.icons8.com/color/256/milkshake--v1.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://img.icons8.com/color/256/carton-of-orange-juice.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select0"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select1"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select2"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://img.icons8.com/color/256/milk-bottle.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://img.icons8.com/color/256/coffee--v1.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://img.icons8.com/color/256/cola.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select3"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select4"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select5"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://img.icons8.com/color/256/lemonade.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://img.icons8.com/color/256/green-tea.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://img.icons8.com/color/256/cafe--v1.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select6"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select7"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select8"><option value=""></option><option
                                    value="milk">milk</option><option
                                    value="cola">cola</option><option
                                    value="cocoa">cocoa</option><option
                                    value="juice">juice</option><option
                                    value="lemonade">lemonade</option><option
                                    value="tea">tea</option><option
                                    value="water">water</option><option
                                    value="coffee">coffee</option><option
                                    value="milkshake">milkshake</option></select>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p>
                        <button type="submit" class="btn btn-dark my-2">Проверить</button>
                    </p>
                </div>
            </div>
        </section>
            </form>
        </div>
    </div>
</head>
</html>