<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    </div>
</head>
<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand d-flex align-items-center">
            <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                 width="60" height="60" alt="">
            <strong>illastra</strong>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div id="ClozeDiv">
    <form id="Cloze" method="post" action="/test4">
        <div class="ClozeBody">
            <table border="0" cellpadding="2" cellspacing="2" width="610" text-align:center=""></table>
            <table border="0" cellpadding="5" cellspacing="5&quot;" width="610"
                   style="margin-left:auto;margin-right:auto;text-align:center;">
                <tbody>
                        <tr>
                            <td><img src="https://img.icons8.com/color/256/4-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/2-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/5-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select0"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="two">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select1"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select2"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="https://img.icons8.com/color/256/7-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/9-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/1-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select3"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select4"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select5"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img src="https://img.icons8.com/color/256/8-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/6-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img src="https://img.icons8.com/color/256/3-cute.png" width="???" height="???"
                                     style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select6"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select7"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select8"><option value=""></option><option
                                    value="three">three</option><option
                                    value="five">five</option><option
                                    value="eight">eight</option><option
                                    value="four">four</option><option
                                    value="six">six</option><option
                                    value="nine">nine</option><option
                                    value="twot">two</option><option
                                    value="seven">seven</option><option
                                    value="one">one</option></select>
                            </td>

                </tr>
                </tbody>
            </table>
        </div>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p>
                        <button type="submit" class="btn btn-dark my-2">Проверить</button>
                    </p>
                </div>
            </div>
        </section>
    </form>
</div>
</div>
</head>
</html>