<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>illastra</title>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <img src="https://img.icons8.com/external-flat-berkahicon/256/external-Star-editing-flat-berkahicon.png"
                     width="60" height="60" alt="">
                <strong>illastra</strong>
            </a>
                <a href="/account" class="btn btn-dark my-2">Профиль</a>
        </div>
    </div>
    </div>
        <div id="ClozeDiv">
            <form id="Cloze" method="post" action="/test5">
                <div class="ClozeBody">
                    <table border="0" cellpadding="2" cellspacing="2" width="610" text-align:center=""></table>
                    <table border="0" cellpadding="5" cellspacing="5&quot;" width="610"
                           style="margin-left:auto;margin-right:auto;text-align:center;">
                        <tbody>
                        <tr>
                            <td><img
                                    src="https://bronnitsy.ru/www/images/filippova/2Neva19525ouz133216.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://static.tildacdn.com/tild3832-3136-4638-a165-373166313039/Find_your_Financing_.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614579955_18-p-papa-na-belom-fone-22.jpg"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select0"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select1"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select2"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://sun9-82.userapi.com/impg/vTVSmelgvsMazNsUj5qC9H43TRUtGQkYCXsrSQ/Hs22IgZEz_I.jpg?size=1280x972&quality=96&sign=d9a292667dde593a83cfb3aae06b609a&c_uniq_tag=nJvT8eWEYhY6oldwZuv49dcjspG38XeAq4CI0Cre0c4&type=album"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://www.pngmart.com/files/16/Vector-Happy-Mother-With-Baby-PNG-Photos.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://papik.pro/uploads/posts/2021-12/1639232286_22-papik-pro-p-babushka-klipart-23.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select3"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select4"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select5"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://papik.pro/uploads/posts/2022-01/1641156513_30-papik-pro-p-detskii-risunok-muzhika-30.jpg"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://gas-kvas.com/uploads/posts/2023-02/1676411661_gas-kvas-com-p-detskii-risunok-sestra-42.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://thumbs.dreamstime.com/b/%D0%B4%D1%80%D1%83%D0%B6%D0%B5%D0%BB%D1%8E%D0%B1%D0%BD%D1%8B%D0%B9-%D0%BC%D0%B0%D0%BB%D1%8C%D1%87%D0%B8%D0%BA-%D1%83%D1%82%D0%B5%D1%88%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9-%D0%B5%D0%B3%D0%BE-%D0%BF%D0%BB%D0%B0%D1%87-%D0%B8%D0%BB%D0%BB%D1%8E%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8E-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%B0-%D0%B4%D1%80%D1%83%D0%B3%D0%B0-176541921.jpg"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><select class="GapSpan" name="Select6"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select7"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>
                            <td><select class="GapSpan" name="Select8"><option value=""></option><option
                                    value="kin">kin</option><option
                                    value="grandmother">grandmother</option><option
                                    value="brother">brother</option><option
                                    value="mother">mother</option><option
                                    value="sister">sister</option><option
                                    value="son">son</option><option
                                    value="father">father</option><option
                                    value="grandfather">grandfather</option><option
                                    value="daughter">daughter</option></select>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p>
                        <button type="submit" class="btn btn-dark my-2">Проверить</button>
                    </p>
                </div>
            </div>
        </section>
            </form>
        </div>
    </div>
</head>
</html>