<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="utf-8">
    <title>illastra</title>
    <div id="MainDiv" class="StdDiv">

        <div id="ClozeDiv">
            <form id="Cloze" method="post" action="" onsubmit="return false;">
                <div class="ClozeBody">
                    <table border="0" cellpadding="2" cellspacing="2" width="610" text-align:center=""></table>
                    <table border="0" cellpadding="5" cellspacing="5&quot;" width="610"
                           style="margin-left:auto;margin-right:auto;text-align:center;">
                        <tbody>
                        <tr>
                            <td><img
                                    src="https://bronnitsy.ru/www/images/filippova/2Neva19525ouz133216.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://static.tildacdn.com/tild3832-3136-4638-a165-373166313039/Find_your_Financing_.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614579955_18-p-papa-na-belom-fone-22.jpg"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="GapSpan" id="GapSpan0"><select id="Gap0"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan1"><select id="Gap1"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan2"><select id="Gap2"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://sun9-82.userapi.com/impg/vTVSmelgvsMazNsUj5qC9H43TRUtGQkYCXsrSQ/Hs22IgZEz_I.jpg?size=1280x972&quality=96&sign=d9a292667dde593a83cfb3aae06b609a&c_uniq_tag=nJvT8eWEYhY6oldwZuv49dcjspG38XeAq4CI0Cre0c4&type=album"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://www.pngmart.com/files/16/Vector-Happy-Mother-With-Baby-PNG-Photos.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://papik.pro/uploads/posts/2021-12/1639232286_22-papik-pro-p-babushka-klipart-23.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="GapSpan" id="GapSpan3"><select id="Gap3"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan4"><select id="Gap4"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan5"><select id="Gap5"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                        </tr>
                        <tr>
                            <td><img
                                    src="https://papik.pro/uploads/posts/2022-01/1641156513_30-papik-pro-p-detskii-risunok-muzhika-30.jpg"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://gas-kvas.com/uploads/posts/2023-02/1676411661_gas-kvas-com-p-detskii-risunok-sestra-42.png"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                            <td><img
                                    src="https://thumbs.dreamstime.com/b/%D0%B4%D1%80%D1%83%D0%B6%D0%B5%D0%BB%D1%8E%D0%B1%D0%BD%D1%8B%D0%B9-%D0%BC%D0%B0%D0%BB%D1%8C%D1%87%D0%B8%D0%BA-%D1%83%D1%82%D0%B5%D1%88%D0%B8%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D0%BE%D0%B9-%D0%B5%D0%B3%D0%BE-%D0%BF%D0%BB%D0%B0%D1%87-%D0%B8%D0%BB%D0%BB%D1%8E%D1%81%D1%82%D1%80%D0%B0%D1%86%D0%B8%D1%8E-%D0%B2%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D0%B0-%D0%B4%D1%80%D1%83%D0%B3%D0%B0-176541921.jpg"
                                    width="330" height="330"
                                    style="display: block; margin-left: auto; margin-right: auto; text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td><span class="GapSpan" id="GapSpan6"><select id="Gap6"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan7"><select id="Gap7"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>
                            <td><span class="GapSpan" id="GapSpan8"><select id="Gap8"><option value=""></option><option
                                    value="clean teeth">kin</option><option
                                    value="do homework">grandmother</option><option
                                    value="get dressed">brother</option><option
                                    value="get up">mother</option><option
                                    value="go to bed">sister</option><option
                                    value="go to school">son</option><option
                                    value="have breakfast">father</option><option
                                    value="take a shower">grandfather</option><option
                                    value="wash up">daughter</option></select></span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>


        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <p>
                        <a href="/register" class="btn btn-dark my-2">Проверить</a>
                    </p>
                </div>
            </div>
        </section>


    </div>
</head>
<body>